<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <connectionStrings>
      <add name="DBCenter" connectionString="TMcZoeASHHinfdyrMBM43g9u7QCLqMaa3J35YRVuKDcS4/F0G5XgYSEEYAxhhb8IUzsSdib7GoIk+HURew/0v3dDLuYVkJLgY1nh3yMstXPez4tzpL6QtOryeTCE8Kdp2m4ybSSvle0y2+BPu0vu+I8q9InOes8P"  />
    </connectionStrings>
</configuration>
