.footer {
    background-color:#ADA8A8;
    color: white;
    font-size: 10px;
    text-align:center;
    vertical-align:middle;
}

.splitter {
    background-color:white;
    font-size:22px;
    padding: 8px 1px 0px 1px;
    margin:0px 0px -5px 0px;
    /*text-align:center;*/
}

.commentlabel {
    text-align:center;
    vertical-align:middle;
    font-size:10px;
}

html body {
	font-family:Arial, Helvetica, sans-serif;
	/*color:white;*/
	/*background-color: #060606;*/
    color:#060606;
    background-color: white;
}

/*.GridviewContainer {
    overflow-x:scroll;
    text-align:left;
}*/